<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Добавить организацию</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/Styles.css">

</head>
<body class="form-centered">
<div class="form-container">
    <div class="form-header">
        <h2>
            <i class="bi bi-building"></i>
            Введите данные учреждения
        </h2>
    </div>

    <form th:action="@{/institutions/create}" th:object="${institution}" method="post">
        <div class="row">
            <div class="col-12 mb-3">
                <label for="institfullname" class="form-label required">Полное наименование</label>
                <input type="text" class="form-control" id="institfullname" th:field="*{institutionFullName}" required
                       >
            </div>

            <div class="col-12 mb-3">
                <label for="institAbbrev" class="form-label required">Сокращенное наименование</label>
                <input type="text" class="form-control" id="institAbbrev" th:field="*{institutionAbbrev}" required
                       >
            </div>

            <div class="col-12 mb-3">
                <label for="director" class="form-label required">ФИО Руководителя</label>
                <input type="text" class="form-control" id="director" th:field="*{director}" required
                       >
            </div>

            <div class="col-12 mb-3">
                <label for="generalAccountant" class="form-label required">ФИО Главного бухгалтера</label>
                <input type="text" class="form-control" id="generalAccountant" th:field="*{generalAccountant}" required
                       >
            </div>

            <div class="col-12 mb-3">
                <label for="accountant" class="form-label required">ФИО Исполнителя</label>
                <input type="text" class="form-control" id="accountant" th:field="*{accountant}" required
                       >
            </div>

        </div>
        <div class="d-flex gap-3 justify-content-center">
            <button type="submit" class="btn btn-submit text-white">
                <i class="bi bi-floppy me-2"></i>Сохранить
            </button>
            <a th:href="@{/institutions}" class="btn btn-cancel text-white">
                <i class="bi bi-x-circle me-2"></i>Отмена
            </a>
        </div>
    </form>
</div>
</body>
</html>